body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", serif;
  width: 100%;
  height: 100%;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 105px);
  margin: 22px 60px 54px 45px;
}

/*
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #808080;
  z-index: 50;
}
*/

.header__logo {
  margin: 0;
  position: relative;
}

.header__menu  {
  padding-left: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link, .header__shop-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  line-height: 33px;
}

.header__link:hover {
  color: #E51937;
  cursor: pointer;
  background-size: 100% 2px;
  line-height: 33px;
}

.header__link_active {
  color: #E51937;
  border-bottom: 2px solid;
  line-height: 33px;
}

.header__link:nth-child(2) {
  margin: 0px 24.86px 0px 63.14px;
}

.header__link:nth-child(4) {
  margin: 0px 48px 0px 46px;
}

.header__shop-link {
  margin: 0px 22px 0px 0px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__shop-button {
  margin-right: 30px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  height: 25px;
  width: 55px;
  border: none;
  background: transparent;
  
}

.header__button:hover {
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 2px;
}

.header__burger {
  display: flex;
  width: 24px;
  height: 15px;
  align-items: center;
/*  padding-left: 35px;*/
}

.header__burger-line {
  margin: 0;
  position: relative;
  width: 24px;
  height: 2px;
  background: #E51937;
}

.header__burger-line::before {
    content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: -5.5px;
	left: 0;
	background: #E51937;
}

.header__burger-line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 5.5px;
  left: 0;
  background: #E51937;
}

.welcome {
  margin: 0;
  min-height: 766px;
  background-image: url(../img/welcome/tesla-logo-car.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.welcome__future {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__title {
  top: 0;
  margin: 0;
  width: 370px;
  height: 110px;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  letter-spacing: 1.3px;
  color: #000;
}

.welcome__text {
  margin: -5px 0px 0px 0px;
  width: 241px;
  height: 19px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.welcome__footer {
  max-width: 798px;
  width: 798px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-bottom: 31px;
}

.welcome__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
}

.speed-menu {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 154px;
  height: 56px;
}

.speed-menu__image {
  width: 57.13px;
  height: 76px;
  flex: 0 0 34.13px;
  max-width: 100%;
}

.speed-menu__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8px;
}

.speed-menu__title {
  margin: 0;
  display: flex;
  width: 51px;
  height: 43px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.speed-menu__subtitle {
  margin: 0;
  padding: 15px 0px 0px 7px;
  width: 37px;
  height: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.speed-menu__text {
  margin: 0;
  width: 77px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
}

.power-reserv {
  margin: 0;
  padding-left: 77px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  height: 58px;
}

.power-reserv__image {
  padding-top: 10px;
  width: 40px;
/*  height: 55px;*/
  flex: 0 0 40px;
  max-width: 100%;
}

.power-reserv__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 140px;
  height: 58px;
  padding-left: 8px;
}

.power-reserv__title {
  margin: 0;
  display: flex;
  width: 63px;
  height: 43px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.power-reserv__subtitle {
  padding: 15px 0px 1px 6.5px;
  width: 29px;
  height: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.power-reserv__text {
  margin: 0;
  width: 67px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
}

.test-drive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 318px;
}

.test-drive__image {
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
  max-width: 100%;
}

.test-drive__text {
  margin: 0;
  padding: 0px 40px 0px 7px;
  width: 89px;
  height: 18px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.test-drive__button {
  border: 2px solid #E51937;
  box-sizing: border-box;
  color: #E51937;
  background-color: #fff;
  width: 160px;
  height: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.test-drive__button:hover {
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.welcome__godown {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 28px;
  height: 14px;
  cursor: pointer;
  padding-bottom: 40px;
}

.welcome__godown img {
  position: absolute;
  animation: animate 1.5s infinite;
  animation-timing-function: linear;
}

.welcome__godown img:hover {
  position: absolute;
  animation: animate 1s infinite;
  animation-timing-function: linear;
}

@keyframes animate {
  0% {
    margin-top: 2px;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 2px;
  }
}

.about-s {
  margin: 0;
  height: 900px;
  display: flex;
  justify-content: space-between;
}

.about-s__photo-cockpit {
  max-width: 100%;
  height: 844px;
  background-image: url(../img/aboutS/tesla-cockpit.jpg);
  background-size: cover;
  flex: 1 1 auto;
  margin-top: auto;
}

.about-s__title {
  margin: 0;
  width: 288px;
  height: 86px;
  padding: 8px 0px 0px 83px;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #E51937;
  letter-spacing: 1px;
}

.about-s__column {
  background-color: #E51937;
}

.about-s__block {
  width: 440px;
  max-height: 900px;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 44px 0px 52px;
}

.about-s__future {
}

.about-s__future-title {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: .5px;
  color: #FFF;
}

.about-s__future-text {
  margin: 0;
  padding-top: 11px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #FFF;
}

.about-s__advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 269px;
  padding-top: 54px;
  margin-bottom: auto;
}

.about-s__advantage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.about-s__image-screen {
  margin-top: 18px;
}

.about-s__screen {
  padding-left: 19px;
}

.about-s__screen-title {
  display: flex;
  margin: 0;
  width: 35px;
  height: 43px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: .9px;
  color: #FFF
}

.about-s__screen-subtitle {
  margin: 0;
  padding: 15px 0px 0px 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFF
}

.about-s__screen-small {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #FFF
}

.about-s__image-wifi {
  padding-top: 30px;
}

.about-s__wifi {
  padding: 40px 0px 0px 20px;
}

.about-s__wifi-text {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #FFF
}

.about-s__wifi_subtext {
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
  margin: 1px 0px 0px 0px;
}

.about-s__image-bag {
  padding: 34px 0px 0px 4px;
}

.about-s__bag {
  padding-left: 25px;
}

.about-s__bag-title {
  margin: 25px 0px 0px 0px;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: .5px;
  color: #FFF
}

.about-s__bag-subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFF
}

.about-s__bag_small {
  margin: -.5px 0px 0px 0px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: .5px;
  color: #FFF
}

.about-s__learn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 347px;
  height: 40px;
  padding-bottom: 63px;
}

.about-s__learn-more-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  margin-right: 22px;
}

.about-s__learn-more-button {
  width: 160px;
  height: 40px;
  border: 2px solid #FFF;
  box-sizing: border-box;
  background: #E51937;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.safety {
  margin: 0;
  min-height: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.safety__column {
  background-color: #E51937;
}

.safety__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 58px 0px 60px;
  letter-spacing: .4px;
  width: 440px;
  max-height: 900px;
  height: 100%;
  box-sizing: border-box;
}

.safety__item {
  margin-bottom: 53px;
}

.safety__item-title {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFF
}

.safety__item-text {
  margin: 16px 0 0 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .1px;
  color: #FFF
}

.safety__protection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.safety__protection-title {
  margin: 0 0 29px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFF
}

.safety__protection-block {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 95px;
}

.item__protection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 120px;
  height: 169px;
}

.item__protection-title {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFF;
}

.item__protection-subtitle {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0.7;
}

.stars__protection {
  margin: 0;
  padding-left: 27px;
  color: #FFF;
}

.stars__protection-row {
  display: flex;
  padding-bottom: 12px;
}

.star {
  display: flex;
  width: 25px;
  height: 25px;
  background-image: url(../img/safety/Star.svg);
  background-repeat: no-repeat;
  padding-left: 4px;
  }

.safety__security {
  display: flex;
  width: 280px;
  height: 92px;
  margin: 0 0 45px 9px;  
}

.security__safety img {
  margin-bottom: 10px;
}

.safety__security-title {
  width: 195px;
  height: 92px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: -10px 0 0 0;
  padding-left: 23px;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #FFF
}

.safety__security-text {
  width: 187px;
  height: 31px;
  margin: -10px 0 0 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFF
}

.safety__learn-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -6px 60px -20px;
}

.learn-more__safety img {
}

.safety__learn-more-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  margin-left: -22px;
}

.safety__learn-more-button {
  width: 160px;
  height: 40px;
  border: 2px solid #FFF;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color: #E51937;
  padding: 0;
}

.safety__models {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-height: 900px;
  flex: 1 1 auto;
  background-image: url(../img/safety/model-s.jpg);
  background-repeat: no-repeat;
  background-position: right 19%;
  background-size: 79%;
}

.safety__frame {
  flex: 1 1 auto;
  margin: 0;
  position: absolute;
  width: calc(100% + 92px);
  max-width: 1049px;
  height: 592px;
  background-image: url(../img/safety/car-frame-group.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 100%;
  left: -92px;
  top: 175px;
}

.safety__whs {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  width: 93.13px;
  height: 37.77px;
  background: url(../img/safety/whs.jpg) no-repeat;
  margin: auto 15px 12px 0;
}

@media (max-width:1105px) {
  .header__link:nth-child(2) {
  margin: 0px 25px 0px 45px;
  }
  .header__link:nth-child(4) {
    margin: 0px 35px 0px 25px;
  }
}

@media (max-width:1025px) {
  .header__menu {
    display: none;
  }
  .header__shop {
    display: none;
  }
  .safety__whs {
    display: none;
  }
}

@media (max-width:770px) {
  .welcome__footer {
    flex-direction: column;
    align-items: center;
  }
  .about-s {
    flex-direction: column;
    align-items: center;
  }
  
  .safety {
    flex-direction: column;
    align-items: center;
  }
  
  .safety__models {
    order:1;
  }
  
  .safety__column {
    order:2;
  }
}
